
body{
    background-color: #282a36;
}
h1{
    color: whitesmoke;
    font-family: sans-serif;
}
table {
    font-family: sans-serif;
    border-collapse: collapse;
    text-align: left;

    background-color: #282a36;
    color: whitesmoke;
}

th, td {
    border: 1px solid whitesmoke;
    padding: 10px;

}
img{
    width: 300px;
}


